.bg-container {
  min-height: 100vh;
}

.nav-bar {
  background-color: #3367d6;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.app-logo {
  margin-left: 50px;
  width: 120px;
  height: auto;
}

.search-bar-container {
  display: flex;
  background-color: #2850a7;
  border-radius: 3px;
  margin-right: 350px;
}

.search-icon {
  background-color: #2850a7;
  padding: 5px 15px;
  border: 1px solid #fff;
  border-right: none;
  border-radius: 4px 0px 0px 4px;
}

.search-bar {
  background-color: #2850a7;
  padding: 5px 15px;
  width: 500px;
  border: 1px solid #fff;
  border-radius: 0px 4px 4px 0px;
  outline: none;
  color: #fff;
}

::placeholder {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.no-history-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 22px;
}

.list-container {
  list-style-type: none;
  padding-left: 0px;
  width: 60%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 16px 0px #ececec;
}
